
/* General Website Theme */

h1,h2,h3,h4,h5 {
  font-family: 'Open Sans', sans-serif !important;
}

a {
  font-family: 'Quicksand', sans-serif !important;
}

.card {
  border: none !important;
  border-radius: 20px !important;
}

.card label, .card .btn:not(button) {
  color: black !important;
}

.card button {
  border: none !important;
}

.form-control {
  background-color: transparent !important;
}

/* Utilities */

.center {
  text-align: center;
}

.active {
  display: block !important;
  color: white !important;
}

.disabled {
  color: transparent;
  display: none;
}

.cursor {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .desktop-only {
    display: none !important;
  }
}

hbr {
  width: 40px;
}

.white {
  color: white !important;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.acenter {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gray;
  border-radius: 100px;
}

.fade-out {
  animation-duration: 1s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.fade-in {
  opacity: 1 !important;
  animation-duration: 1s;
  transition: all 0.2s ease-in-out;
}

.grey-hover {
  transition: all 0.2s ease-in-out;
}

.grey-hover:hover {
  background-color: rgba(100, 100, 100, 0.1);
}

.btn {
  border: 1px solid #60cf5b !important;
  border-radius: 50px !important;
  color: white !important;
}

.btn:hover {
  background-color: #60cf5b !important;
}

.primary {
  color: #60cf5b !important;
}

.b-primary {
  background-color: #60cf5b !important;
  color: white;
}

.right {
  float: right;
}

.top-nav {
  margin-top: 20px;
}

.col-wall {
  border-left: 1px solid #dbdada;
}

@media only screen and (max-width: 1000px) {
  .col-wall {
    border-top: 1px solid #dbdada;
    border-left: 0px solid transparent !important;
    margin-top: 30px;
  }
}

.material-icons {
  color: #60cf5b !important;
}

.justify {
  text-align: justify;
}

/* Titles slide */

.titles {
  margin-top: 10vh;
  text-align: center;
}

.titles h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.devices {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  transform:translateY(-100%);
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: -10px;
}

.logo object {
  pointer-events: none;
  width: 50px;
}

@media only screen and (max-width: 1000px) {
  .devices {
    width: 100vw;
  }
}

/* Intro */
.content {
  top: 100vh;
  height: 200px;
  position: absolute;
  width: 100%;
}

.intro {
  padding-top: 180px;
  padding-bottom: 200px;
  background-color: #60cf5b !important;
  text-align: center;
}
.intro div {
  max-width: 800px !important;
}


/* Talents card */

.talents {
  margin-top: -150px;
  border: none !important;
  border-radius: 20px !important;
}

.talents .col-4 {
  padding: 15px;
}

.talents  {
  padding-left: 30px;
  padding-right: 30px;
}

.talents h3 {
  text-align: center;
  width: 100%;
}

.talents a {
  text-align: justify;
}

.talents .material-icons {
  font-size: 150px;
  text-align: center;
  width: 100%;
}

.talents ul li {
  list-style-type: disc;
}

@media only screen and (max-width: 1000px) {
  .talents {
    padding-bottom: 20px;
  }
}

/* Projects */
.projects {
  margin-top: 200px;
}

.projects h3,.projects a {
  text-align: center;
  width: 100%;
}

.projects .display {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  cursor: pointer;
}

.projects .card {
  background-position: center;
  background-size: cover;
}

.projects .card:hover .display {
  opacity: 1;
  background-color: #60cf5b;
  border-radius: 20px !important;
}

@media only screen and (max-width: 1000px) {
  .projects {
    margin-top: 50px;
  }

  .projects .col-md-4 {
    margin-bottom: 20px;
  }
}

/* Footer */
.footer {
  width: 100%;
  min-height: 300px;
  background-color: #60cf5b;
  margin-top: 100px;
}

.footer .contact {
  height: 80px;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateY(-50%);
  margin-left: 0px !important;
  padding-top: 21px;
}

.footer .contact a:not(.btn) {
  font-weight: normal;
  font-size: 25px;
  margin-top: -4px;
}

.footer .footer-content {
  padding-top: 50px;
}

.footer .col-3 {
  text-align: center;
}

.footer span {
  font-size: 2rem;
  cursor: pointer;
  display:inline-block;
  vertical-align: middle;
  line-height: 48px;
  color: #60cf5b;
  text-align: center;
  vertical-align: middle;
  width: 48px;
}

.footer .col-md-4 .row a {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  user-select: none;
}

@media only screen and (max-width: 1000px) {
  .footer {
    margin-top: 50px;
    min-height: 200px;
  }
  .footer-center {
    margin-left: 20px;
    margin-right: 0px;
  }
  .footer .contact a:not(.btn) {
    font-size: 15px;
  }
  .footer .contact {
    height: 120px;
  }
  .footer .footer-content {
    padding-top: 10px;
    margin-top: -20px;
  }
}

/* Contact Page */

textarea,input[type=text],input[type=password],input[type=email] {
  background-color: rgba(0, 0, 0, 0.25) !important;
  color: white !important;
  border-color: transparent;
  border: 1px solid transparent !important;
  box-shadow: none !important;
}

textarea {
  width: 100%;
  resize: none !important;
  border-radius: 0.25rem;
  padding: 5px;
}

label {
  color: white;
}

.form a {
  width: 100%;
}

/* Home */
.contacts .col {
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts {
  padding: 20px;
}
